body {
    background-image: url("/assets/img/vista-superior-estetoscopio-hueso-papel-huella-pata-dia-animales_23-2148668866.avif  ");
    background-size: cover;
}

form {
    font-family: 'Tajawal', sans-serif;

}